/* Write your media queries and flexbox CSS below */
@media (min-width: 480px) {
  .site-header__nav {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 700px) {
  header {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  header {
    justify-content: space-around;
  }
  .site-header__checkout {
    justify-content: flex-end;
  }
  .site-header__nav {
    justify-content: center;
  }
}
